[{:itonami.blueprint/social-impact [:blast-safety :worker-safety :public-safety], :itonami.blueprint/domain :mining-quarrying/blast-operation-scheduling-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "7542", :itonami.blueprint/name "Blast-Operation Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :blast-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7542", :itonami.blueprint/license "AGPL-3.0-or-later"}]
